{% extends 'base.html' %}
{% block title %}Discover | Add-Post{% endblock %}

{% load static %}
{% block content %}

<section class=" my-5">
    <div class="container">
        <div class=" mb-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="dashboard">Add Post</li>
                </ol>
            </nav>
        </div>
        <form action="new-post/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlTextarea1">What's on your mind?</label>
                <textarea name="post" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn bg-dark text-white mb-2">Submit</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}