{% extends 'base.html' %}
{% block title %}Discover{% endblock %}
{% load static %}
{% block content %}
<header style="background-color: #d4d8d8;">
    <div class="container">
        <div class="row  flex-lg-row    flex-md-row flex-xl-row  justify-content-between align-items-center landing">
            <div class="col-sm-12 col-xs-12 col-md-7 col-lg-6 col-xl-6 landing--text">
                <h1 style="font-weight:bold">“NOT ALL THOSE WHO WANDER ARE LOST”</h1>
                <p>Travel helps us find our purpose & put focus into our lives.More we
                    got lost in our travels, the richer our lives became.</p>
            </div>
            <div class="text-center landing--img col-sm-12 col-xs-12  col-md-4 col-lg-4 col-xl-4">
                <img src="{% static 'img/camera.svg' %}" style="width:100px" alt="">
            </div>
        </div>
    </div>
</header>
<section class="explore my-5">
    <div class="container">

        {% if posts %}
        <div class="row">
            {% for post in posts %}
            <a href="{% url 'post' post.id %}" class="col-12 col-lg-4 col-xl-4  col-sm-12 col-md-6 my-3 explore__block">
                <div class="">
                    <div class="card bg-dark text-white">
                        <img src="{% static 'img/cardImg.jpg' %}" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">{{post.post_author.username}}</h5>
                            <p class="card-text"><small>{{post.post_content | truncatechars:100}}</small> </p>

                            <p class="card-text"> <span class="mr-3"><img src="{% static 'img/love.svg' %}"
                                        class="small-icon" alt="like"> {{post.post_likes}}</span>
                                <span> <img src="{% static 'img/time.svg' %}" alt="" class="small-icon">
                                    {{post.post_date | date:"D d M Y" }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <h5 class="text-center col-12">No post's to show !</h5>
            {% endif %}
        </div>
        {% if posts_count.count > 3 %}
        <div class="text-center mt-4">
            <button class="btn bg-dark">
                <a href="{% url 'posts' %}" class="text-white"><small>See All
                        Posts</small>
                </a>
            </button>
        </div>
        {% else %}

        {% endif %}
    </div>
</section>

{% endblock %}